@using KisiselWebProjesi.Models.Siniflar
@model List<AnaSayfa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <h2>Ana Sayfa</h2>
    <table class="table table-bordered mt-3">
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.id</td>
                <td>@x.isim</td>
                <td><a href="/Admin/AnaSayfaGetir/@x.id" class="btn btn-primary">Güncelle</a></td>
            </tr>
        }
    </table>

