
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Admin Panel</h3>
        <a href="/Admin/Index" class="w3-bar-item w3-button">Ana Sayfa</a>
        <a href="/Admin/ikonListesi" class="w3-bar-item w3-button">İkonlar</a>
        <a href="/AnaSayfa/Index" target="_blank" class="w3-bar-item w3-button btn-info">Siteye Git</a>
        <a href="/Login/LogOut/" class="w3-bar-item w3-button btn-danger">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container" style="background-image: linear-gradient(120deg, #3498db, #8e44ad);">
            <h1 style="color:white;">Kişisel Web Sitesi</h1>
        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>